*, *:after, *:before {
     box-sizing: inherit   
}

html {
    box-sizing: border-box;
    background: #191919;
}



.container {
    display: flex;
    max-width: 960px;
    background: #232D3F;
    margin: 20px auto;
    justify-content: space-between;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2)
}

.avatar {
    flex-basis: 35%;
    background: #2C3333;
    color: green;
}


.photo {
    height: 220px;
    background: url(https://sun9-71.userapi.com/impg/vA5_4s8vaUFBiHiXzzF1Xaqnteqs5OTasG07fw/bQdgZ2AVTB0.jpg?size=1200x1600&quality=95&sign=fbbe9589b72bdb0a32f769724c73b7e2&type=album);
    background-size: cover;
    background-position: center;
    background-repeat: space;
}

.heading {
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 16px;
    font-weight: 700px;
    color:azure;
}

.h2-first {
    color: #810CA8;
    border-bottom: 2px dashed black;
}

.photo-info {
    padding: 50px 30px 70px 30px;
}


.contact {
    border-bottom: 2px black dashed;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 50px;
}

.phone {
    color: silver;
    margin-bottom: 13px;
    font-size: 16px;
    font-weight: 400;
}

.phone-link {
    color: slategray;
    text-decoration: none;
    padding-left: 27px;
    line-height: 21px;
}

.language {
    width: 100px;
    height: 100px;
    border: 6px solid #533483;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.language:nth-child(3){
    margin-bottom: 0;
}

.languages {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    margin-top: 40px;
}

.line {
    width: 93px;
    border: 1px solid black;
    display: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.line:nth-child(2){
    width: 110px;
    margin-left: 20px;
}


.lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio {
    padding: 25px 30px;
    flex-basis: 63%;
    background: #;
}

.info-wrap {
    padding: 36px 56px;
    border: 1px solid rgba(168,168,168,0.44);
    min-height: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 38px;
}

.logo-lines {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 17px;
    margin-right: 17px;
}

.logo-line {
    display: block;
    width: 43px;
    height: 2px;
    background: #03506F;
    margin-bottom: 10px;
    margin-top: 10px;
}

.logo-lites-left .logo-line:nth-child(2) {
    margin-right: 20px;
    width: 55px;
}

.logo-lites-right .logo-line:nth-child(2) {
    margin-right: 20px;
    width: 55px;
}

.logo-img {
    width: 90px;
    height: 90px;
    border: 1px solid #39383a;
    border-radius: 50%;
    background: url(https://i.pinimg.com/736x/09/7e/ef/097eefc0841bed88ddba155bad43d2e6.jpg);
    background-size: cover;
    background-position: center;
}

.about {
    text-align: center;
    border-bottom: 1px solid rgba(168,168,168,0.44);
    padding-bottom: 30px;
    margin-bottom: 40px;
}

.name {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 11px;
    color: azure;
}

.position {
    font-size: 9px;
    text-transform: uppercase;
    color: yellowgreen;
    margin-bottom: 20px;
    display: inline-block;
}

.about-adres {
    font-size: 13px;
    margin-bottom: 15px;
    color: azure;
}

.about-contacts {
    font-size: 10px;
}

.about-link {
    text-decoration: none;
    color: aqua;
}

.heading-white {
    font-size: 16px;
    border-bottom: 1px solid rgba(168,168,168,0.44);
    margin-bottom: 37px;
}

.list {
    list-style: none;
    padding-left: 0;
}

.list-item:before {
    content: '';
    background: black;
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    left: 0;
    top: 0;
}

.list-item {
    position: relative;
    padding-left: 40px;
    margin-bottom: 30px;
    border-bottom: 2px dashed grey;
}

.list-item-4 {
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: azure;
}

.list-item-date {
    font-size: 11px;
    text-transform: uppercase;
    color: azure;
}

.item-info {
    font-size: 10px;
    color: #B6C4B6;
}

.list-item2 {
    border: none;
}

.white-lvlup {
    margin-bottom: 48px;
}

.lvlup-list-item1 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
}

.level {
    width: 70%;
    height: 8px;
    border: 1px solid black;
    position: relative;
    border-color: rgb(140, 130, 115);
}

.level:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: grey;
}

.text {
    line-height: 24.19px;
    margin-bottom: 50px;
    font-size: 13px;
    color: darkorchid;
}

.language-text {
    text-transform: uppercase;
    font-size: 11px;
    color: antiquewhite;
}

.language-percent {
    font-size: 15px;
    font-weight: 600;
    color: antiquewhite;
}

.lvl1:before {
    width: 85%;
}

.lvl2:before {
    width: 75%;
}

.lvl3:before {
    width: 40%;
}

.lvlup-list {
    color: azure;
}
