body {
	background: #22092C;
}

.main {
	width: 95%;
	height: 140%;
}

.market {
	padding-top: 100px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	/*	height: 1500px;*/
	padding-bottom: 200px;
}

.tovari {
	width: calc(33% - 10px - 40px);
	height: 350px;
	padding: 20px;
	margin: 5px;
	text-align: center;
	background: #31304D;
}

.tovar-img {
	width: 50%;
}

.header-btn {
	padding: 7px;
}

.neon {
	width: 100%;
	height: 100%;
}